<launch>
    <!-- Arguments -->
    <arg name="robotino_ip" value="172.31.1.145" />
    <arg name="model" default="$(find ros_robotino_rest_pkg)/description/robotino.urdf" />

    <!-- Parameters -->
    <param name="robotino_description" command="$(find xacro)/xacro $(arg model)" />
    
    <!-- Inputs -->
    <!-- <node name="analoginput" pkg="ros_robotino_rest_pkg" type="analoginput.py" output="screen" args="$(arg robotino_ip)" />
    <node name="digitalinput" pkg="ros_robotino_rest_pkg" type="digitalinput.py" output="screen" args="$(arg robotino_ip)" />
    <node name="bumper" pkg="ros_robotino_rest_pkg" type="bumper.py" output="screen" args="$(arg robotino_ip)" />
    <node name="distancesensor" pkg="ros_robotino_rest_pkg" type="distancesensor.py" output="screen" args="$(arg robotino_ip)" />
    <node name="odometry" pkg="ros_robotino_rest_pkg" type="odometry.py" output="screen" args="$(arg robotino_ip)" /> -->
    <!-- <node name="poweroutputcurrent" pkg="ros_robotino_rest_pkg" type="poweroutputcurrent.py" output="screen" args="$(arg robotino_ip)" /> -->
    <node name="poweroutput" pkg="ros_robotino_rest_pkg" type="poweroutput.py" output="screen" args="$(arg robotino_ip)" />
    <!-- <node name="test_pub" pkg="beginner_tutorials" type="publisher.py" output="screen" /> -->

    <node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 robotino/odom robotino/base_link 50" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robotino_robot_state_publisher" >
      <remap from="robot_description" to="robotino_description" />
      <remap from="joint_states" to="robotino_joint_states" />
      <param name="tf_prefix" value="robotino" />
    </node>

    <!-- Outputs -->
    <node name="digitaloutput" pkg="ros_robotino_rest_pkg" type="digitaloutput.py" output="screen" args="$(arg robotino_ip)" />
    <node name="omnidrive" pkg="ros_robotino_rest_pkg" type="omnidrive.py" output="screen" args="$(arg robotino_ip)" />

</launch>
